<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Status Message</title>
    <link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1>Halo, Apa Kabar?</h1>
    <form method ="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  {% for itu in value %}
      <h2> Status : {{ itu.status }} </h2>
      <h2> Waktu Post : {{ itu.waktuPost }}</h2>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="id" value="{{ itu.pk }}" style="display:none">
        <button type="submit" name="button"> Delete</button>
      </form>
  {%endfor%}

  </body>
</html>
